body {
  overflow: hidden;
}
#star-system .first span,
#star-system .second span,
#star-system .fourth span,
#star-system .fifth span,
#star-system .seventh span {
  display: inline-block;
  opacity: 0;
  transition: -webkit-transform 800ms, opacity 800ms;
}

#star-system .first span {
  -webkit-transform: translateZ(0) translateY(-6rem);
}

#star-system .second span {
  -webkit-transform: translateZ(0) translateY(6rem);
}

#star-system .fourth span {
  -webkit-transform: translateZ(0) translateY(6rem);
}
#star-system .fifth span {
  -webkit-transform: translateZ(0) translateY(6rem);
}
#star-system .seventh span {
  -webkit-transform: translateZ(0) translateY(6rem);
}

#star-system:hover .first span,
#star-system:hover .second span,
#star-system:hover .fourth span,
#star-system:hover .fifth span,
#star-system:hover .seventh span {
  opacity: 1;
  transition: -webkit-transform 800ms, opacity 1200ms;
  -webkit-transform: translateZ(0) translateY(0);
}

#star-system .first span:nth-child(1) {
  transition-delay: 360ms, 300ms;
}
#star-system .first span:nth-child(2) {
  transition-delay: 420ms, 300ms;
}
#star-system .first span:nth-child(3) {
  transition-delay: 480ms, 300ms;
}
#star-system .first span:nth-child(4) {
  transition-delay: 540ms, 300ms;
}
#star-system .first span:nth-child(5) {
  transition-delay: 600ms, 300ms;
}
#star-system .first span:nth-child(6) {
  transition-delay: 660ms, 300ms;
}
#star-system .first span:nth-child(7) {
  transition-delay: 720ms, 300ms;
}

#star-system .second span:nth-child(1) {
  transition-delay: 420ms, 0ms;
}
#star-system .second span:nth-child(2) {
  transition-delay: 390ms, 0ms;
}
#star-system .second span:nth-child(3) {
  transition-delay: 360ms, 0ms;
}
#star-system .second span:nth-child(4) {
  transition-delay: 330ms, 0ms;
}
#star-system .second span:nth-child(5) {
  transition-delay: 300ms, 0ms;
}
#star-system .second span:nth-child(6) {
  transition-delay: 270ms, 0ms;
}
#star-system .second span:nth-child(7) {
  transition-delay: 240ms, 0ms;
}
#star-system .second span:nth-child(8) {
  transition-delay: 210ms, 0ms;
}
#star-system .second span:nth-child(9) {
  transition-delay: 180ms, 0ms;
}
#star-system .second span:nth-child(10) {
  transition-delay: 150ms, 0ms;
}
#star-system .second span:nth-child(11) {
  transition-delay: 120ms, 0ms;
}
#star-system .second span:nth-child(12) {
  transition-delay: 90ms, 0ms;
}
#star-system .second span:nth-child(13) {
  transition-delay: 60ms, 0ms;
}
#star-system .second span:nth-child(14) {
  transition-delay: 30ms, 0ms;
}

#star-system .fourth span:nth-child(1) {
  transition-delay: 420ms, 0ms;
}
#star-system .fourth span:nth-child(2) {
  transition-delay: 390ms, 0ms;
}
#star-system .fourth span:nth-child(3) {
  transition-delay: 360ms, 0ms;
}
#star-system .fourth span:nth-child(4) {
  transition-delay: 330ms, 0ms;
}
#star-system .fourth span:nth-child(5) {
  transition-delay: 300ms, 0ms;
}
#star-system .fourth span:nth-child(6) {
  transition-delay: 270ms, 0ms;
}
#star-system .fourth span:nth-child(7) {
  transition-delay: 240ms, 0ms;
}
#star-system .fourth span:nth-child(8) {
  transition-delay: 210ms, 0ms;
}
#star-system .fourth span:nth-child(9) {
  transition-delay: 180ms, 0ms;
}
#star-system .fourth span:nth-child(10) {
  transition-delay: 150ms, 0ms;
}
#star-system .fourth span:nth-child(11) {
  transition-delay: 120ms, 0ms;
}
#star-system .fourth span:nth-child(12) {
  transition-delay: 90ms, 0ms;
}
#star-system .fourth span:nth-child(13) {
  transition-delay: 60ms, 0ms;
}
#star-system .fourth span:nth-child(14) {
  transition-delay: 30ms, 0ms;
}

#star-system .fifth span:nth-child(1) {
  transition-delay: 420ms, 0ms;
}
#star-system .fifth span:nth-child(2) {
  transition-delay: 390ms, 0ms;
}
#star-system .fifth span:nth-child(3) {
  transition-delay: 360ms, 0ms;
}
#star-system .fifth span:nth-child(4) {
  transition-delay: 330ms, 0ms;
}
#star-system .fifth span:nth-child(5) {
  transition-delay: 300ms, 0ms;
}
#star-system .fifth span:nth-child(6) {
  transition-delay: 270ms, 0ms;
}
#star-system .fifth span:nth-child(7) {
  transition-delay: 240ms, 0ms;
}
#star-system .fifth span:nth-child(8) {
  transition-delay: 210ms, 0ms;
}
#star-system .fifth span:nth-child(9) {
  transition-delay: 180ms, 0ms;
}
#star-system .fifth span:nth-child(10) {
  transition-delay: 150ms, 0ms;
}
#star-system .fifth span:nth-child(11) {
  transition-delay: 120ms, 0ms;
}
#star-system .fifth span:nth-child(12) {
  transition-delay: 90ms, 0ms;
}
#star-system .fifth span:nth-child(13) {
  transition-delay: 60ms, 0ms;
}
#star-system .fifth span:nth-child(14) {
  transition-delay: 30ms, 0ms;
}

#star-system .seventh span:nth-child(1) {
  transition-delay: 420ms, 0ms;
}
#star-system .seventh span:nth-child(2) {
  transition-delay: 390ms, 0ms;
}
#star-system .seventh span:nth-child(3) {
  transition-delay: 360ms, 0ms;
}
#star-system .seventh span:nth-child(4) {
  transition-delay: 330ms, 0ms;
}
#star-system .seventh span:nth-child(5) {
  transition-delay: 300ms, 0ms;
}
#star-system .seventh span:nth-child(6) {
  transition-delay: 270ms, 0ms;
}
#star-system .seventh span:nth-child(7) {
  transition-delay: 240ms, 0ms;
}
#star-system .seventh span:nth-child(8) {
  transition-delay: 210ms, 0ms;
}
#star-system .seventh span:nth-child(9) {
  transition-delay: 180ms, 0ms;
}
#star-system .seventh span:nth-child(10) {
  transition-delay: 150ms, 0ms;
}
#star-system .seventh span:nth-child(11) {
  transition-delay: 120ms, 0ms;
}
#star-system .seventh span:nth-child(12) {
  transition-delay: 90ms, 0ms;
}
#star-system .seventh span:nth-child(13) {
  transition-delay: 60ms, 0ms;
}
#star-system .seventh span:nth-child(14) {
  transition-delay: 30ms, 0ms;
}

#star-system:hover .first span,
#star-system:hover .second span,
#star-system:hover .fourth span,
#star-system:hover .fifth span,
#star-system:hover .seventh span {
  transition-delay: 0;
}

#star-system span {
  letter-spacing: .2rem;
}