body {
  overflow: hidden;
}
#star-system .first span {
  display: inline-block;
  opacity: 0;
  transition: -webkit-transform 800ms, opacity 800ms;
}

#star-system .first span {
  -webkit-transform: translateZ(0) translateY(-6rem);
}

#star-system:hover .first span {
  opacity: 1;
  transition: -webkit-transform 800ms, opacity 1200ms;
  -webkit-transform: translateZ(0) translateY(0);
}

#star-system .first span:nth-child(1) {
  transition-delay: 360ms, 300ms;
}
#star-system .first span:nth-child(2) {
  transition-delay: 420ms, 300ms;
}
#star-system .first span:nth-child(3) {
  transition-delay: 480ms, 300ms;
}
#star-system .first span:nth-child(4) {
  transition-delay: 540ms, 300ms;
}
#star-system .first span:nth-child(5) {
  transition-delay: 600ms, 300ms;
}
#star-system .first span:nth-child(6) {
  transition-delay: 660ms, 300ms;
}
#star-system .first span:nth-child(7) {
  transition-delay: 720ms, 300ms;
}
#star-system:hover .first span {
  transition-delay: 0;
}

#star-system span {
  letter-spacing: 0.2rem;
}

#star-system .other-stuff {
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  width: 100%;
  align-items: center;
  flex-direction: column;
  color: white;
  /* display: inline-block; */
  opacity: 0;
  transition: -webkit-transform 800ms, opacity 800ms;
  -webkit-transform: translateZ(0) translateY(-6rem);
}

#star-system:hover .other-stuff {
  opacity: 1;
  transition: -webkit-transform 800ms, opacity 1200ms;
  -webkit-transform: translateZ(0) translateY(0);
  transition-delay: 720ms, 300ms;
}
#star-system .other-stuff p {
  width: 300px;
  font-size: 16px;
}
#star-system .other-stuff a {
  width: 300px;
  color: cornflowerblue;
  font-size: 16px;
  text-align: left;
}
#star-system .other-stuff a:hover {
  opacity: 0.9;
}
