.home {
  width: 100%;
  height: 100vh;
}
.name-text-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#particles-js {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
}
