.container .selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .selector a {
  position: absolute;
  color: white;
}

.container .selector a:hover {
  color: rgb(18, 105, 211);
}
.selector .first {
  top: 40%;
}
a {
  cursor: pointer;
}
@media all and (min-width: 480px) {
  a {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 660px) {
  a {
    font-size: 2.2rem;
  }
}
@media all and (min-width: 839px) {
  a {
    font-size: 2.6rem;
  }
}
@media all and (min-width: 1025px) {
  .first {
    top: 15%;
  }
  a {
    font-size: 3.2rem;
  }
}
@media all and (min-width: 1400px) {
  a {
    font-size: 3.8rem;
  }
}
@media all and (orientation: landscape) and (max-width: 660px) {
  a {
    display: none;
  }
}
